In [4]:
import pandas as pd
import pymongo

In [5]:
df=pd.read_csv('data.csv')

In [6]:
df.head(1)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1

In [7]:
# mongo db is non relational database ,so requires dict

data=df.to_dict(orient='records')

In [26]:
import sys
import os
sys.path.append(os.path.abspath("..")) 

from extras import ab

In [32]:
DB_NAME="Proj1"
COLLECTION_NAME="Proj1-Data"
CONNECTION_URL="mongodb+srv://artistnoob6:tiQF899S0p1ayLhh@cluster0.ycjwkyp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [35]:
client=pymongo.MongoClient(CONNECTION_URL)
data_base=client[DB_NAME]
collection=data_base[COLLECTION_NAME]

In [36]:
#uploading data to mongoDB
rec=collection.insert_many(data)

In [ ]:
#Viewing the data

In [ ]:
df=pd.DataFrame(list(collection.find()))
df.head(1)